__pycache__
*.pyc
/cloudflared/tmp
/cloudflared/bin
/cloudflared/.build
/cloudflared/cloudflared
/cloudflared/cloudflared-fips
/cloudflared/cloudflared.pkg
/cloudflared/cloudflared.exe
/cloudflared/cloudflared.msi
/cloudflared/cloudflared-x86-64*
/cloudflared/cloudflared.1
/cloudflared/packaging
/cloudflared/.cover
/cloudflared/built_artifacts
/cloudflared/component-tests/.venv
/cloudflared/component-tests/env
/cloudflared/artifacts
/cloudflared/vendor
